:root {
    --color-white: #ffffff;
    --color-gold: rgba(255, 255, 255, 0.85);
    --opacity: 0.68;
}


body {
    background-image: url("/public/images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--color-white);
    width: 100%;
    text-align: center;
    opacity: var(--opacity);
}

.login-container {
    background-color: var(--color-gold);
}